In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
from datetime import datetime
import os
import glob

Import all B, F, P files

TODO: re-write as a function, pass dates as parameter

In [3]:
os.chdir('../WebScraping/F')
F_filenames = [i for i in glob.glob('*.txt')]
os.chdir('../B')
B_filenames = [i for i in glob.glob('*.txt')]
os.chdir('../P')
P_filenames =  [i for i in glob.glob('*.txt')]

Concat into merged_dfs

In [5]:
F_merged_df = pd.concat([pd.read_csv(file, sep='|') for file in F_filenames])
B_merged_df = pd.concat([pd.read_csv(file, sep='|') for file in B_filenames])
P_merged_df = pd.concat([pd.read_csv(file, sep='|') for file in P_filenames])

In [6]:
B_merged_df

          DATE SYMBOL  SHORT VOLUME  TOTAL VOLUME MARKET
0     20210211      A           400           600      X
1     20210211     AA          5890         11990      X
2     20210211   AAAU         11800         11800      X
3     20210211   AACG           200          1700      X
4     20210211   AACQ          7406         10892      X
...        ...    ...           ...           ...    ...
5258  20210208  ZVZZT             0           800      X
5259  20210208  ZWRKU           100           100      X
5260  20210208   ZYME          6349          8754      X
5261  20210208   ZYNE         78969        147174      X
5262  20210208   ZYXI          1100          1900      X

[57349 rows x 5 columns]

In [ ]:
CNMSshvol_df = pd.read_csv('CNMSshvol20210212.txt', sep='|', header=0)

In [ ]:
CNMSshvol_df['date'] =  pd.to_datetime(CNMSshvol_df['Date'], errors='coerce', format='%Y%m%d')

In [ ]:
CNMSshvol_df

In [ ]:
def calculate_change(start, end):
  return round(((end - start)/start)*100, 2)

In [ ]:
# currently online gets history back one day instead of parameter date
def get_change(symbol, date):

   return calculate_change(yf.Ticker(symbol).history(start=date, end=date)["Open"].to_list()[0], yf.Ticker(symbol).history(start=date, end=date)["Close"].to_list()[-1])

Single test for single stonk

In [ ]:
date_str =  str(20210105)
date = datetime(year=int(date_str[0:4]), month=int(date_str[4:6]), day=int(date_str[6:8]))

print(date)
print (get_change("AMC", date))

The for loop to loop over every symbol in the dataframe

In [ ]:
one_day_change = []
date_str =  str(CNMSshvol_df['Date'][0])
date = datetime(year=int(date_str[0:4]), month=int(date_str[4:6]), day=int(date_str[6:8]))
# symbols = CNMSshvol_df['Symbol']
symbols - ["GME", "AMC", "BB", "TSLA", "NOK", "TLRY", "SNDL", "AAPL", "MSFT", "BYND", "PLTR"]

for symbol in symbols:
    try:
        one_day_change.append(get_change(symbol, date))
    except:
        one_day_change.append(np.nan)

In [ ]:
CNMSshvol_df['1d%'] = one_day_change

In [ ]:
print(one_day_change)